*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin abs($top: 0) {
  position: absolute;
  left: 50%;
  top: $top;
  transform: translate(-50%, -$top);
}
body {
  font-family: 'Abel', sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.stoper {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  position: relative;
  &__clock {
    font-size: 3.5rem;
    @include abs(50%);
    &::after {
      content: 's';
      font-size: 2.5rem;
      position: absolute;
      bottom: 5%;
    }
  }
  &__startBtn {
    width: 130px;
    height: 40px;
    border-radius: 25px;
    background-color: #fff;
    border: none;
    letter-spacing: 4px;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.4s;
    -webkit-box-shadow: inset 2px 2px 36px -16px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: inset 2px 2px 36px -16px rgba(0, 0, 0, 0.82);
    box-shadow: inset 2px 2px 36px -16px rgba(0, 0, 0, 0.82);
    @include abs(85%);
    &:focus {
      outline: none;
    }
    &:hover {
      font-size: 18px;
      box-shadow: none;
    }
  }
  &__buttonAlign {
    width: 60%;
    @include abs(85%);
    position: relative;
    display: flex;
    justify-content: space-between;
    &--pauseBtn,
    &--resetBtn {
      @extend .stoper__startBtn;
      position: unset;
      left: unset;
      top: unset;
      transform: unset;
    }
  }
}

.hidden {
  display: none;
}

@media screen and (min-width: 1000px) {
  .stoper {
    width: 60%;
    height: 75vh;
  }
}
@media screen and (max-width: 500px) {
  .stoper__buttonAlign {
    width: 80%;
  }
}
